.re-select-container {
    width: 100%;
    position: relative;
    color: #000;
    font-size: 16px;
}

.re-select-container .re-wrapper-main {
    display: flex;
    background-color: white;
    border: 1px solid #E4E4E4;
    border-radius: 5px;
    font-size: 16px;
    padding: 17px;
    justify-content: space-between;
    align-items: center;
    transition: 0.3s ease all;
}

.re-select-container .re-wrapper-main.select-open {
    border-bottom: none;
    border-bottom-left-radius: initial;
    border-bottom-right-radius: initial;
}

.re-select-container .re-wrapper-main .re-value{
    color: #DE2A2A;
}

.re-select-container .re-wrapper-main .re-info {
    display: flex;
}

.re-select-container .re-wrapper-main .re-info .re-placeholder {
    color: #666666;
    margin-right: 5px;
}

.re-select-container .re-items {
    position: absolute;
    top: 49px;
    left: 0;
    right: 0;
    font-size: 16px;
    border: 1px solid #E4E4E4;
    background-color: #fff;
    border-top: none;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    transform: scaleY(0);
}

.re-select-container .re-items.hide {
    animation: growUp 200ms ease-in-out forwards;
    transform-origin: top;
}

.re-select-container .re-items.show {
    animation: growDown 200ms ease-in-out forwards;
    transform-origin: top;
}

@keyframes growUp {
    0% {
        transform: scaleY(1);
    }
    80% {
        transform: scaleY(1.1);
    }
    100% {
        transform: scaleY(0);
    }
}

@keyframes growDown {
    0% {
        transform: scaleY(0);
    }
    80% {
        transform: scaleY(1.1);
    }
    100% {
        transform: scaleY(1);
    }
}