.re-select-base-item {
    display: flex;
    justify-content: space-between;
    padding: 15px;
    cursor: pointer;
}

.re-select-base-item:hover, .re-select-base-item.active {
    background-color: #E4E4E4;
}